<!--
  Generated template for the StartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
<ion-slides loop pager spaceBetween="15"  autoplay="3000" paginationType="bullets" speed="1000" effect="flip">
    <ion-slide style="background: url('assets/imgs/Slide1.jpg') 50% 50% no-repeat; background-size: 230%">
      <h2>А при коммунизме</h2>
      <p>
        Всё будет заебись<br>
        Он наступит скоро, нужно только ждать
      </p>
    </ion-slide>
  
    <ion-slide style="background: url('assets/imgs/Slide2.jpg') 50% 50% no-repeat; background-size: 230%">
      <h2>А при коммунизме</h2>
      <p>
        Всё будет заебись<br>
        Он наступит скоро, нужно только ждать
      </p>
    </ion-slide>
  
    <ion-slide style="background: url('assets/imgs/Slide3.jpg') 50% 50% no-repeat; background-size: 230%">
      <h2>Там всё будет в кайф</h2>
      <p>
        Там всё будет бесплатно<br>
        И, наверное, вообще не надо будет умирать
      </p>
    </ion-slide>
  
    <ion-slide style="background: url('assets/imgs/Slide4.jpg') 50% 50% no-repeat; background-size: 230%">
      <h2>Все другие такое дерьмо</h2>
      <p>
        Один лишь дедушка Ленин<br>
        хороший был вождь
      </p>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>
  <button ion-button  (click)="click()">Log in</button>
  <button ion-button  (click)="reg()">Register</button>
</ion-footer>