page-start {
    h2{
        color: aliceblue;
        text-shadow: 1px 1px 2px black, 0 0 3px rgb(0, 0, 0);
    }
    p{
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 3px rgb(0, 0, 0);
    }
    button{
        width: 48%;
    }
    ion-footer{
        background: color($colors, dark, base);
    }
    ion-slides{
        background: color($colors, dark, base);
    }
    .navbar{
        background: color($colors, dark, base);
    }
}

