<ion-header>

  <ion-navbar >
    <ion-title>Login {{name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding color="dark">
  <form (ngSubmit)="Login()">
    
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="data.login" name="login" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input  [(ngModel)]="data.password" name="password" type="password"></ion-input>
      </ion-item>
      <button ion-button block type="submit">Log In</button>
  </form>
</ion-content>
