<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
      <ion-item>
          <ion-label>Type of account</ion-label>
          <ion-select [(ngModel)]="type">
            <ion-option value="Nazwa firmy">Firma</ion-option>
            <ion-option value="Imię nazwisko">Osoba prywatna</ion-option>
          </ion-select>
        </ion-item>

    <form [formGroup]="regForm" (ngSubmit)="registration()">
    <ion-item>
      <ion-label floating>{{type}}</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="login" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirm password</ion-label>
      <ion-input formControlName="confirm" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Phone</ion-label>
      <ion-input formControlName="phone" type="phone"></ion-input>
    </ion-item>

    <button ion-button block color="button" type="submit">Create account</button>
  </form>
</ion-content>
