<ion-header>

  <ion-navbar>
    <ion-title>{{category.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<button ion-button block (click)="click(category)">Create your own task</button>
<p style="text-align:center">or</p>
<ion-list>
  <button ion-item *ngFor="let cat of cats" (click)="click(cat)" >
    {{cat.name}}
  </button>
</ion-list>
</ion-content>
