<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="profile-bg"></div>
  <div id="content">
    <div id="profile-info">
      <img id="profile-image" src="{{'http://test.taskhunter.pl/' + profile.avatar}}">
      <h3 id="profile-name">{{profile.name}}</h3>
        <div id="profile-description">{{profile.about}}</div>
    </div>
    <ion-list>
     <ion-item ng-repeat="post in posts">
        <img class="post-profile-image" src="{{profile.avatar}}">
        {{profile.name}}
        <div class="post-time">12:30</div>
        <div class="post-options">
          <i class="icon-reply"></i>
          <i class="icon-shuffle"></i>
        </div>
      </ion-item>
    </ion-list>
  </div>

</ion-content>


