<ion-header>
  <ion-navbar>
      <button ion-button menuToggle icon-only>
          <ion-icon name='menu'></ion-icon>
        </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-list>
    <ion-card *ngFor="let cat of categories" (click)="onCatClick(cat)">
      <img src="{{cat.image}}"/>
      <div class="card-title">{{cat.name}}</div>
    </ion-card>
  </ion-list>
  
  </ion-content>