<!--
  Generated template for the CreateTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 style="text-align: center">{{cat.name}}</h3>

  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label floating>What you need</ion-label>
      <ion-input [(ngModel)]="data.name" name="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Describe you task</ion-label>
      <ion-textarea [(ngModel)]="data.description" name="description" type="text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Enter your requirements</ion-label>
      <ion-textarea [(ngModel)]="data.requirement" name="requirement" type="text"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Budget</ion-label>
      <ion-input [(ngModel)]="data.budget" name="budget" type="number"></ion-input>
    </ion-item>
    <button ion-button block type="submit">Publish</button>
  </form>

</ion-content>