<ion-list>
    <button ion-item (click)="openHome()">
      Profile
    </button>
    <button ion-item (click)="openPage(friendsPage)">
      Friends
    </button>
    <button ion-item (click)="openPage(eventsPage)">
      Events
    </button>
    <button ion-item (click)="closeMenu()">
      Close Menu
    </button>
  </ion-list>