<!--
  Generated template for the AllTasksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>All Tasks</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngFor="let task of tasks">
    <button ion-item (click)="onProfileClick([task.profile])">
      <ion-avatar item-start>
        <img src="{{'http://test.taskhunter.pl/'+task.profile.avatar}}">
      </ion-avatar>
      <h2 class="header">{{task.profile.name}}</h2>
      <p>{{task.created_at}}</p>
    </button>
    <ion-card-content>
      <button ion-item>{{task.name}}</button>
      {{task.description}}
    </ion-card-content>
    <ion-row>
      <ion-col>
              <button ion-button icon-left clear small>
                  <ion-icon name="done-all"></ion-icon>
                  <div >status: {{task.status}}</div>
              </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>? Offers</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>